@model GBAdmin.Web.Models.ManageUserViewModel

@using (Ajax.BeginForm("ChangePassword", "Account", FormMethod.Post, new AjaxOptions { OnSuccess = "OnPasswordChangeSuccess", OnFailure = "OnPasswordChangeFailure" }, new { role = "form", id = "form-ChangePassword" }))
    {
        @Html.AntiForgeryToken()

        <div class="row form-group" style="padding-top:3%">
            @*---Change Password---*@
            <div class="row row-padding-top-5">
                <div class="form-group col-md-6 col-xs-10 col-xs-offset-1">
                    <div id="Message">
                        <span class="pull-left msg-text"></span>
                        <span class="pull-right msg-close">X</span>
                    </div>
                </div>
            </div>
            <div class="row row-padding-top-5">
                <div class="col-md-6 col-xs-10 col-xs-offset-1">
                    <div class="form-group">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password", tabIndex = "1" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", tabIndex = "2" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype Password", tabIndex = "3" })

                    </div>
                </div>
            </div>
            @*Save button*@
            <div class="row row-padding-top-5">
                <div class="form-group col-md-6 col-xs-10 col-xs-offset-1">
                    <div>
                        <button id="btnSave" class="btn btn-primary full-width" type="submit" tabindex="4">Save</button>
                    </div>
                </div>
            </div>

        </div>
    }

