@model GBAdmin.Web.Models.AccountViewModel
@using GBAdmin.Web.Services.Common
@using GBAdmin.Web.Services
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (GBAdminConfig.Client.ToUpper() == Constants.Organizations.Uber.ToString().ToUpper())
    {
        <title>Uber Milap | Login</title>
    }
    else
    {
        <title>Gaddibaba | Login</title>
    }

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/GBAdmin.css" rel="stylesheet" />
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                @if (GBAdminConfig.Client.ToUpper() == Constants.Organizations.Uber.ToString().ToUpper())
                {
                    <h1 class="logo-name">UM</h1>
                }
                else
                {
                    <h1 class="logo-name">GB</h1>
                }

            </div>
            @if (GBAdminConfig.Client.ToUpper() == Constants.Organizations.Uber.ToString().ToUpper())
            {
                <h3>Welcome to Uber Milap</h3>
            }
            else
            {
                <h3>Welcome to Gaddibaba</h3>
            }            
            <p>Use a local account to log in.</p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control", placeholder = "Username" })

                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control", placeholder = "Password" })

                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                @*<a href="#"><small>Forgot password?</small></a>*@
            }
            @if (GBAdminConfig.Client.ToUpper() == Constants.Organizations.Uber.ToString().ToUpper())
            {
                 <p class="m-t"> <small>All rights reserved to VS Team &copy; 2016</small> </p>
            }
            else
            {
                 <p class="m-t"> <small>All rights reserved to Gaddibaba &copy; 2016</small> </p>
            }

           
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
