@{
    ViewBag.Title = "Error";
    Layout = null;   
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#logoutForm").submit();
        });
    </script>
    <title>
    </title>
</head>
<body>
   @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
   {
    @Html.AntiForgeryToken();

   }
</body>
</html>

