/*validation error*/
.error {
    /*color: #ff5a5f;*/
    border: 1px solid red;
}

.input-validation-error {
    border: 1px solid red;
}

.has-error {
    border: 1px solid red;
}

.validation-summary-errors {
    color: red !important;
}

/*------------- Row Spacer -------------*/

.row-spacer-7 {
    height: 7em;
}

.row-spacer {
    height: 4.725em;
}

.row-spacer-small {
    height: 2em;
}

.row-spacer-mini {
    height: 1.25em;
}

/*--------------------- message box ---------------*/
#Message {
    margin-top: 2%;
    background: #1ab394;
    color: white;
    padding: 1%;
    margin-bottom: 2%;
    display: none;
    height: 36px;
    /*height: 76px;*/
}

    #Message .msg-close {
        cursor: pointer;
    }
