@{
    ViewBag.Title = "Careers";
}
@Styles.Render("~/Content/GBCareers")
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Hey enthusiast!</div>
            <div class="intro-heading">Join hands with us</div>
            <a href="#Opportunities" class="page-scroll btn btn-xl">Opportunities</a>
        </div>
    </div>
</header>

<section id="Opportunities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Current openings</h2>
                <!--<h3 class="section-subheading text-muted">Select from some of the most popular services on Gaddibaba.</h3>-->
            </div>
        </div>
        <div class="row text-center text-muted">
            <div class="col-xs-12">
                <p>Gaddibaba.com is an unique company where we provide all kinds of services for the Call Taxi Services from Driver to leasing Car. Our motto is to build up TRUST by providing the best services, and to grow it. Lets join hands and progress to provide the best Service to the customer...</p>
                <br />
                <br />
            </div>

            <div class="col-xs-12">
                <div class="title career-info"><strong>Careers :</strong> Just mail us with your Resume, we would get back to you</div>
                <div class="row">
                    <ul>
                        <li class="career-position ">
                            <div class="row no-margin no-padding">
                                <div class="col-lg-6 col-md-6 career-info align-left">
                                    <div class="career-title navy">Data Collection Executives - Permanent</div>
                                    <p class="sub-tite">Kolkata, INDIA</p>
                                </div>
                                <div class="col-lg-2  col-md-2 career-details-botton">
                                    <!-- Trigger Button HTML -->
                                    <input type="button" class="btn-know-more" data-toggle="collapse"
                                           data-target="#toggleDemo_1" value="Know More">
                                </div>
                                <div class="col-lg-1 col-lg-offset-1 col-md-2 col-md-offset-1 career-botton">
                                    <a href="mailto:contact@gaddibaba.com?subject=Job LockYourStay JobID-GB2016062001" target="_top">
                                        <span class="job-button">Apply</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row no-margin no-padding">
                                <div id="toggleDemo_1" class="collapse out">
                                    <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9 job-details">
                                        <table class="table">
                                            <tbody class="full-width">
                                                <tr class="full-width">
                                                    <td class="full-width">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job ID</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                GB2016062001
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Designation</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Data Collection Executives
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job Description</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                <ul class="list-unstyled">
                                                                    <li>Marketing & turn lead to Organic.</li>
                                                                    <li>Raise Demand.</li>
                                                                    <li>Visit Client.</li>
                                                                    <li>Prepare KYC of the client.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Total Experience</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                0 - 1 Years
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Functional Area</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Data Collection
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Education</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Any Graduate ,equivalent talented 12 pass
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job Posted</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                2016-06-14 12:38:00.0
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="career-position ">
                            <div class="row no-margin no-padding">
                                <div class="col-lg-6 col-md-6 career-info align-left">
                                    <div class="career-title navy">Data Collection Executives - Part Time</div>
                                    <p class="sub-tite">Kolkata, INDIA</p>
                                </div>
                                <div class="col-lg-2  col-md-2 career-details-botton">
                                    <!-- Trigger Button HTML -->
                                    <input type="button" class="btn-know-more" data-toggle="collapse"
                                           data-target="#toggleDemo_2" value="Know More">
                                </div>
                                <div class="col-lg-1 col-lg-offset-1 col-md-2 col-md-offset-1 career-botton">
                                    <a href="mailto:contact@gaddibaba.com?subject=Job LockYourStay JobID-GB2016062002" target="_top">
                                        <span class="job-button">Apply</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row no-margin no-padding">
                                <div id="toggleDemo_2" class="collapse out">
                                    <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9 job-details">
                                        <table class="table">
                                            <tbody class="full-width">
                                                <tr class="full-width">
                                                    <td class="full-width">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job ID</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                GB2016062002
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Designation</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Data Collection Executives
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job Description</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                <ul class="list-unstyled">
                                                                    <li>Marketing & turn lead to Organic.</li>
                                                                    <li>Raise Demand.</li>
                                                                    <li>Visit Client.</li>
                                                                    <li>Prepare KYC of the client.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Total Experience</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                0 - 1 Years
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Functional Area</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Data Collection
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Education</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                Any Graduate ,equivalent talented 12 pass
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 align-left">
                                                                <b>Job Posted</b>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 align-left">
                                                                2016-06-14 12:38:00.0
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<hr />
@section scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-right,.navbar-toggle').hide();
            $('header').css('background-image', 'url(../../Images/career-bg.jpg)');
        });
    </script>
}
